## Importing Data

In [27]:
#importing libraries
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [28]:
#adding data city of london
may_21 = pd.read_csv('2021-05-city-of-london-street.csv')
jun_21 = pd.read_csv('2021-06-city-of-london-street.csv')
jul_21 = pd.read_csv('2021-07-city-of-london-street.csv')
aug_21 = pd.read_csv('2021-08-city-of-london-street.csv')
sep_21 = pd.read_csv('2021-09-city-of-london-street.csv')
oct_21 = pd.read_csv('2021-10-city-of-london-street.csv')
nov_21 = pd.read_csv('2021-11-city-of-london-street.csv')
dec_21 = pd.read_csv('2021-12-city-of-london-street.csv')
jan_22 = pd.read_csv('2022-01-city-of-london-street.csv')
feb_22 = pd.read_csv('2022-02-city-of-london-street.csv')
mar_22 = pd.read_csv('2022-03-city-of-london-street.csv')
apr_22 = pd.read_csv('2022-04-city-of-london-street.csv')
may_22 = pd.read_csv('2022-05-city-of-london-street.csv')

## Preprocessing Data

combining all the months for easier handling

In [29]:
data = pd.concat([may_21, jun_21 , jul_21, aug_21, sep_21, oct_21, nov_21, dec_21, jan_22, feb_22, mar_22, apr_22, may_22])

Looking at what column does the data have

In [30]:
data.columns

Index(['Crime ID', 'Month', 'Reported by', 'Falls within', 'Longitude',
       'Latitude', 'Location', 'LSOA code', 'LSOA name', 'Crime type',
       'Last outcome category', 'Context'],
      dtype='object')

Dropping the unnecessary columns

In [31]:
data = data.drop(data.columns[[0,2,3,10,11]],axis=1)
#axis = 1 means that the operation are perform on the columns of the DataFrame

In [32]:
data

,Month,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type
0,2021-05,-0.109582,51.522017,On or near Clerkenwell Road,E01000916,Camden 027B,Drugs
1,2021-05,-0.111962,51.518494,On or near Nightclub,E01000914,Camden 028B,Public order
2,2021-05,-0.113256,51.516824,On or near Old Square,E01000914,Camden 028B,Theft from the person
3,2021-05,-0.097601,51.520699,On or near Carthusian Street,E01000001,City of London 001A,Anti-social behaviour
4,2021-05,-0.097736,51.520206,On or near Conference/Exhibition Centre,E01000001,City of London 001A,Anti-social behaviour
...,...,...,...,...,...,...,...
713,2022-05,NaN,NaN,No Location,NaN,NaN,Other crime
714,2022-05,NaN,NaN,No Location,NaN,NaN,Other crime
715,2022-05,NaN,NaN,No Location,NaN,NaN,Other crime
716,2022-05,NaN,NaN,No Location,NaN,NaN,Other crime
717,2022-05,NaN,NaN,No Location,NaN,NaN,Other crime

Removing the rows with any NaN

In [33]:
data = data.dropna()
data

,Month,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type
0,2021-05,-0.109582,51.522017,On or near Clerkenwell Road,E01000916,Camden 027B,Drugs
1,2021-05,-0.111962,51.518494,On or near Nightclub,E01000914,Camden 028B,Public order
2,2021-05,-0.113256,51.516824,On or near Old Square,E01000914,Camden 028B,Theft from the person
3,2021-05,-0.097601,51.520699,On or near Carthusian Street,E01000001,City of London 001A,Anti-social behaviour
4,2021-05,-0.097736,51.520206,On or near Conference/Exhibition Centre,E01000001,City of London 001A,Anti-social behaviour
...,...,...,...,...,...,...,...
659,2022-05,-0.074901,51.506255,On or near A100,E01004293,Tower Hamlets 027B,Other theft
660,2022-05,-0.079130,51.507808,On or near Ferry Terminal,E01004293,Tower Hamlets 027B,Robbery
661,2022-05,-0.079130,51.507808,On or near Ferry Terminal,E01004293,Tower Hamlets 027B,Robbery
662,2022-05,-0.074901,51.506255,On or near A100,E01004293,Tower Hamlets 027B,Theft from the person
663,2022-05,-0.074901,51.506255,On or near A100,E01004293,Tower Hamlets 027B,Theft from the person

Looking at the data type of each column

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7856 entries, 0 to 663
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Month       7856 non-null   object
 1   Longitude   7856 non-null   float64
 2   Latitude    7856 non-null   float64
 3   Location    7856 non-null   object
 4   LSOA code   7856 non-null   object
 5   LSOA name   7856 non-null   object
 6   Crime type  7856 non-null   object
dtypes: float64(2), object(5)
memory usage: 491.0+ KB

Finding how many LSOA are there and what are there

In [35]:
print('Number of LSOA: ', data['LSOA name'].nunique())

print('LSOA name: ', data['LSOA name'].unique())

Number of LSOA:  60
LSOA name:  ['Camden 027B' 'Camden 028B' 'City of London 001A' 'City of London 001B'
 'City of London 001C' 'City of London 001E' 'City of London 001F'
 'City of London 001G' 'Hackney 027F' 'Islington 022D' 'Islington 023D'
 'Islington 023E' 'Southwark 002C' 'Tower Hamlets 009C'
 'Tower Hamlets 015B' 'Tower Hamlets 021C' 'Tower Hamlets 021D'
 'Tower Hamlets 021F' 'Tower Hamlets 027B' 'Westminster 018A'
 'Hackney 025D' 'Hackney 027G' 'Islington 022H' 'Southwark 003H'
 'Tower Hamlets 019C' 'Westminster 018B' 'Haringey 015C'
 'Tower Hamlets 018D' 'Islington 014C' 'Newham 013G' 'Southwark 001C'
 'Tower Hamlets 021E' 'Westminster 020C' 'Camden 024B' 'Hackney 019A'
 'Hackney 022D' 'Southwark 003E' 'Southwark 006E' 'Tower Hamlets 017A'
 'Islington 003B' 'Tower Hamlets 025B' 'Waltham Forest 015B'
 'Westminster 018C' 'Tower Hamlets 015E' 'Tower Hamlets 026B'
 'Waltham Forest 026E' 'Tower Hamlets 020C' 'Hackney 020D' 'Hackney 027D'
 'Islington 019A' 'Tower Hamlets 014B' 'Haringey 032D' 'Islington 022C'
 'Tower Hamlets 007C' 'Newham 012A' 'Southwark 002B' 'Tower Hamlets 012E'
 'Tower Hamlets 021A' 'Waltham Forest 023C' 'Tower Hamlets 015A']